<script type='text/template'>
	<div id='ratio_div'>
		<h3>Affordability Ratios</h3>
		<form class='form-horizontal'>
			<div class='control-group'>
				<label class='control-label' for="d-to-i-conservative">Debt to Income (Conservative)</label>
				<div class='controls'>
					<div class='input-append'>
						<input id='d-to-i-conservative' type="text" placeholder="Enter %" />
						<span class='add-on'>%</span>
					</div>
				</div>
			</div>
			<div class='control-group'>
				<label class='control-label' for="d-to-i-aggressive">Debt to Income (Aggressive)</label>
				<div class='controls'>
					<div class='input-append'>
						<input id='d-to-i-aggressive' type="text" placeholder="Enter %" />
						<span class='add-on'>%</span>
					</div>
				</div>
			</div>
		</form>
	</div>
</script>