<script type='text/template'>
<div id="loan_div">
	<h3>Loan Assumptions</h3>
	<form class='form-horizontal'>
		<div class='control-group'>
			<label class='control-label' for='interest_rate'>Interest Rate</label>
			<div class='controls'>
				<div class='input-append'>
					<input id='interest_rate' type="text" placeholder="Enter %" />
					<span class='add-on'>%</span>
				</div>
			</div>
		</div>
		<div class='control-group'>
			<label class='control-label' for='term'>Term</label>
			<div class='controls'>
				<input id='loan_term' type="text" placeholder="Enter Term in Yrs" />
			</div>
		</div>
		<div class='control-group'>
			<label class='control-label' for='tax_rate'>Property Taxes</label>
			<div class='controls'>
				<div class='input-prepend'>
					<span class='add-on'>$</span>
					<input id='tax_rate' type="text" placeholder="Enter Yearly Amount" />
				</div>
			</div>
		</div>
		<div class='control-group'>
			<label class='control-label' for='homeowners_amount'>Homeowners Insurance (Yrly)</label>
			<div class='controls'>
				<div class='input-prepend'>
					<span class='add-on'>$</span>
					<input id='homeowners_amount' type="text" placeholder="Enter Amount" />
				</div>
			</div>
		</div>
	</form>
</div>
</script>

