<script id='afford_loan' type='text/template'>
	<h3>Loan Assumptions</h3>
	<form class='form-horizontal'>
		<div class='control-group'>
			<label class='control-label' for='loan_amount'>Loan Amount</label>
			<div class='controls'>
				<div class='input-prepend'>
					<span class='add-on'>$</span>
					<input id='loan_amount' type="text" placeholder="Enter Amount" />
				</div>
			</div>
		</div>
		<div class='control-group'>
			<label class='control-label' for='interest_rate'>Loan Amount</label>
			<div class='controls'>
				<div class='input-append'>
					<input id='interest_rate' type="text" placeholder="Enter %" />
					<span class='add-on'>%</span>
				</div>
			</div>
		</div>
		<div class='control-group'>
			<label class='control-label' for='tax_rate'>Property Taxes (% of Sales Price)</label>
			<div class='controls'>
				<div class='input-append'>
					<input id='tax_rate' type="text" placeholder="Enter %" />
					<span class='add-on'>%</span>
				</div>
			</div>
		</div>
		<div class='control-group'>
			<label class='control-label' for='homeowners_amount'>Loan Amount</label>
			<div class='controls'>
				<div class='input-prepend'>
					<span class='add-on'>$</span>
					<input id='homeowners_amount' type="text" placeholder="Enter Amount" />
				</div>
			</div>
		</div>
	</form>
</script>