<script type="text/template" id="demo-template">
<div id='demo_menu' class='navbar navbar-inverse'>
	<div class='navbar-inner'>
		<a class='brand' href="#"> SimpleCalc </a>
		<ul class='nav'>
			<li class='active divider-vertical'>
				<a id='affordability_menu' href="#">Affordability </a>
			</li>
			<li>
				<a id='home_search_menu' href="#">Home Search</a>
			</li>
			<li class='divider-vertical'>
				<a id='cost_analysis_menu' href="#">Costs Analysis</a>
			</li>
			<li>
				<a id='paydown_menu' href="#">Paydown/Payoff</a>
			</li>
		</ul>
	</div>
</div>