<script type='text/template'>
	<h3>Inputs</h3>
	<form class='form-horizontal'>
		<div class='control-group'>
			<label class='control-label' for='loan_amount'>Loan Amount</label>
			<div class='controls'>
				<div class='input-prepend'>
					<span class='add-on'>$</span>
					<input id='loan_amount' type="text" placeholder="Enter Amount" />
				</div>
			</div>
		</div>
		<div class='control-group'>
			<label class='control-label' for='interest_rate'>Interest Rate</label>
			<div class='controls'>
				<div class='input-append'>
					<input id='interest_rate' type="text" placeholder="Enter %" />
					<span class='add-on'>%</span>
				</div>
			</div>
		</div>
		<div class='control-group'>
			<label class='control-label' for='term'>Term</label>
			<div class='controls'>
				<input id='loan_term' type="text" placeholder="Enter Term in Yrs" />
			</div>
		</div>
		<div class='control-group'>
			<label class='control-label' for='paydown_amount'>Additional Payment Amount</label>
			<div class='controls'>
				<div class='input-prepend'>
					<span class='add-on'>$</span>
					<input id='paydown_amount' type="text" placeholder="Enter Amount" />
				</div>
			</div>
		</div>
	</form>
</script>