<script type='text/template'>
	<h3>Outputs</h3>
	<table class='table table-striped table-condensed table-hover table-bordered'>
		<thead>
			<tr>
				<td></td>
				<td>Current</td>
				<td>Projected</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Interest Paid</td>
				<td id='current_interest'></td>
				<td id='proj_interest'></td>
			</tr>
			<tr>
				<td>Interest Saved</td>
				<td></td>
				<td id='interest_saved'></td>
			</tr>
			<tr>
				<td>Pay-off Yr</td>
				<td id='current_payoff_yr'></td>
				<td id='proj_payoff_yr'></td>
			</tr>
		</tbody>
	</table>
</script>